@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
    --color-primary: #FFC300;
    --color-secondary: #001D3D;

    --color-light-primary: rgba(255, 195, 0, 0.05);

    --color-border: #EAEAEA;

    --light-gray: #F4F4F4;
}

.main-title {
    font-size: 48px;
    font-weight: 600;
}
