@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --light-gray: #f4f4f4;

  --color-primary: #ffc300;
  --color-secondary: #001d3d;
  --color-neutral: var(--light-gray);

  --color-light-primary: rgba(255, 195, 0, 0.05);

  --color-primary-hover: #ffc300bd;

  --color-border: #eaeaea;
}

.main-title {
  font-size: 48px;
  font-weight: 600;
}
